<% layout('/layouts/boilerplate')%>
<div class="d-flex align-items-center p-3 text-light bg-secondary container-fluid">
  <div class="flex-shrink-0 h-50 d-inline-block w-50 p-3">
    <img src="/image/default.jpg" alt="..." class="rounded float-start" />
  </div>
  <div class="flex-grow-1 ms-3">
    <h3>This is a Start or root Page of the Travel Website.</h3>
    <form action="/listing" method="GET">
      <button class="btn btn-primary btn-lg">Index Page</button>
    </form>
  </div>
</div>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
